@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*-----GENERAL------*/
html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}

/*--HERO---*/



header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Montserrat;

}

.logo h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

.menu a {

    color: white;
    text-decoration: none;
    padding: 1.5rem;
    font-weight: bold;
    font-weight: 400;
}

.menu a:hover {
    color: #f0a500;

}

.x-extreme {
    font-weight: 900;
    font-size: 2.5rem;

    color: black;
    font-style: italic;
}

/*------contact------*/

.contact{
    height: 100vh;
    width: 100%;

    margin-top: 4rem ;

    font-family: Montserrat;
    

}
.section-name {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
}

.contact-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}


.contact-header {
    width: 100%;
    flex: 2;

    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.contact-body {
    flex: 5;
    width: 60%;

    display: flex;
    flex-flow: column nowrap;
    
}

.line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.line * {
    flex: 1;
    
}

.line span:nth-child(2) {
    text-align: center;
}

.line span:nth-child(3) {
    text-align: right;
}

form {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 5rem;
}

input[type=text] {
    border: 0;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: NouvelRegular;
    font-size: 1.1rem;
    padding: .5rem;
}

input[type=text]:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid #f0a500;
    
}

textarea {
    width: 100%;
    margin-top: .5rem;
    height: 100px;
    font-family: NouvelRegular;
    font-size: 1.1rem;
    resize: none;
}

.messagetext span {
    font-size: 1.1rem;
    color: #807e7e;
}

input[type=submit] {
    border: 0;
    background-color: #f0a500;
    color: white;
    padding: .5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;

    border: 1px solid black;
}


/*---footer----*/
footer {
    width: 100%;
    height: auto;

    background-color: black;
    color: white;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;

    text-align: center;

    font-family: Montserrat;
}

.quick-nav {
    flex: 1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    text-align: left;
}

.quick-nav h2 {
    font-family: Montserrat;
    font-size: 1.5rem;
    color: white;
}

.quick-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.quick-nav li {
    margin: 0.5rem 0;

}

.quick-nav a {

    font-family: Montserrat;
    color: white;
    text-decoration: none;
}

.quick-nav a:hover {
    color: #f0a500;

}

.socials {
    flex: 1;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;

}

.title {
    flex: 1;
    font-family: Montserrat;
    font-size: 2rem;
    color: white;
    font-style: italic;
    font-weight: 400;
}

.explore-footer {
    font-weight: 700;

    font-size: 3rem;

}

.copyright {
    flex: 1;
    font-family: Montserrat;
    font-size: 0.8rem;
    color: white;
}

.icons {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.instagram {
    flex: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/instagram.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.email {
    flex: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/correo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    flex: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/gorjeo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}




.politics {
    flex: 1;
}