@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/*-----GENERAL------*/
html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: clamp(1rem, 0.97rem + 0.108vw, 1.1rem);
    line-height: 1.8rem;
    text-align: justify;
}


/*-----hero-----*/

.hero-container {
    width: 100%;
    height: 100vh;

    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;


}

header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Montserrat;

}

.logo h1 {
    font-size: clamp(1rem, 0.703rem + 1.081vw, 2rem);
    margin: 0;
    font-weight: 400;
}

/* Menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

.menu a {

    color: white;
    text-decoration: none;
    padding: 1.5rem;
    font-weight: bold;
    font-weight: 400;
}

.menu a:hover {
    color: #f0a500;
    /* Color de hover */
}

.x-extreme {
    font-weight: 900;
    font-size: clamp(1.2rem, 0.814rem + 1.405vw, 2.5rem);

    color: black;
    font-style: italic;
}


/*-----QUOTE 1------*/

.quote1 {

    display: flex;
    justify-content: center;
    align-items: center;


    aspect-ratio: 8/2;
    ;

    background-image: url(../img/quote1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    position: relative;
}

.quote1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.quote1 p {
    font-family: Playfar Display;
    font-style: italic;
    font-weight: 700;

    position: absolute;
    color: white;
    text-align: center;
    font-size: clamp(3rem, 2.108rem + 3.243vw, 6rem);

    z-index: 2;
}


/*------ABOUT 1------*/

.about1 {
    width: 100%;
    height: auto;
    padding: 0 5% 5% 5%;

    margin-top: 4rem;

}

.about1-name h1 {

    font-family: Montserrat;
    text-align: left;
    margin-left: 2rem;

    font-size: clamp(2rem, 1.703rem + 1.081vw, 3rem);
}

.about1 article {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

}

.about1-pic {

    aspect-ratio: 4/3;

    flex: 1;
    background-image: url(../img/about1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.about1-text {
    flex: 1;
    padding-left: 3rem;
}

/*-----QUOTE 2------------*/

.quote2 {

    display: flex;
    justify-content: center;
    align-items: center;


    aspect-ratio: 8/2;
    ;

    background-image: url(../img/quote2.jpg);
    background-size: cover;
    background-position: 80% 70%;
    background-repeat: no-repeat;

    position: relative;
}

.quote2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.quote2 p {
    font-family: Playfar Display;
    font-style: italic;
    font-weight: 700;

    position: absolute;
    color: white;
    text-align: center;
    font-size: clamp(3rem, 2.108rem + 3.243vw, 6rem);

    z-index: 2;
}

/*------ABOUT 2-------*/

.about2 {
    width: 100%;
    height: auto;
    padding: 0 5% 5% 5%;

    margin-top: 4rem;

}

.about2-name h1 {

    font-family: Montserrat;
    text-align: right;
    margin-right: 2rem;

    font-size: clamp(2rem, 1.703rem + 1.081vw, 3rem);
}

.about2 article {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

}

.about2-pic {

    aspect-ratio: 4/3;

    flex: 1;
    background-image: url(../img/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.about2-text {
    flex: 1;
    padding-right: 3rem;
}

/*-----FOOTER-----*/

footer {
    width: 100%;
    height: auto;

    background-color: black;
    color: white;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;

    text-align: center;

    font-family: Montserrat;
}

.quick-nav {
    flex: 1;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    text-align: left;
}

.quick-nav h2 {
    font-family: Montserrat;
    font-size: clamp(1rem, 0.851rem + 0.541vw, 1.5rem);
    color: white;
}

.quick-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.quick-nav li {
    margin: 0.5rem 0;
    
}

.quick-nav a {

    font-family: Montserrat;
    color: white;
    text-decoration: none;
}

.quick-nav a:hover {
    color: #f0a500;
    
}

.socials {
    flex: 1;

    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;

}

.title {
    flex: 1;
    font-family: Montserrat;
    font-size: clamp(1rem, 0.703rem + 1.081vw, 2rem);
    color: white;
    font-style: italic;
    font-weight: 400;
}

.explore-footer {
    font-weight: 700;

    font-size: clamp(1.5rem, 1.054rem + 1.622vw, 3rem);

}

.copyright {
    flex: 1;
    font-family: Montserrat;
    font-size: 0.8rem;
    color: white;
}
.icons {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.instagram {
    flex: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/instagram.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.email {
    flex: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/correo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    flex: 1;
    width: 25px;
    height: 25px;
    background-image: url(../img/gorjeo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}




.politics {
    flex: 1;
}